apiVersion: v1
kind: Service
metadata:
  name: sidecar-injector-webhook-svc
  namespace: sidecar-injector
  labels:
    app: sidecar-injector
spec:
  ports:
  - port: 443
    targetPort: 8443
  selector:
    app: sidecar-injector
